/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
.wrap {
  max-width: 1110px; /*1110пх самая большая по ширине часть контента*/
  min-width: 320px; /*общепринятое значение*/
  margin: 0 auto;
  padding: 0 15px; /*чтобы небыло прилипания*/
}
a {
  color: #ed4c5c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.header-wrap {
  background: url(/img/bg-head.jpg) top center no-repeat;
  background-size: cover;
}

.header-wrap-color {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  padding: 50px 0 200px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
}

.trans-btn {
  padding: 10px 30px;
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 6px;
}

.header-content {
  color: #fff;
  text-align: center;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-bottom: 40px;
}

.header-content h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 60px;
  line-height: 1.5;
}

.white-btn {
  padding: 10px 30px;
  color: #ed4c5c;
  background: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
}

.about-wrap {
  padding: 100px 0;
}

.about-block {
  display: flex;
}

.about-block-left,
.about-block-right {
  width: 40%;
  margin-right: 10%;
  align-self: center;
}

.about-block-left h2 {
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.about-block-left p {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  line-height: 25px;
}

.posib-wrap {
  background: #fafafa;
  padding: 70px 0;
}

.posib-wrap h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 4rem;
}

.posib-block {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.posib-item {
  max-width: 350px;
  text-align: center;
  color: #101010;
  display: flex;
  flex-direction: column;
}

.posib-txt {
  background: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 20px 1px 20px;
  margin: -95px 30px 0 30px;
  z-index: 1;
  position: relative;
  flex-grow: 1;
}
.posib-txt h3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 20px;
}
.posib-txt p {
  font-weight: 400;
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.tech-wrap {
  padding: 70px 0;
}

.tech-wrap h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 4rem;
}

.tech-block {
  display: flex;
  justify-content: space-between;
}

.tech-blcok-item {
  max-width: 250px;
  text-align: center;
}

.tech-blcok-item header {
  color: rgba(16, 16, 16, 0.08);
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  position: relative;
  margin-bottom: 20px;
}

.tech-blcok-item header img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tech-blcok-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.tech-blcok-item p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
